* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: rgba(0, 0, 0, 1);
  color: white;
}
/* header section starts */

/* navbar design starts*/
header {
  padding-top: 57px;
}
nav {
  padding: 5px;
  display: flex;
  max-width: 1060px;
  margin: auto;
  justify-content: space-between;
}
nav > p {
  font-size: 36px;
  font-weight: 800;
  color: #e6533c;
}
nav > div {
  display: flex;
  align-items: center;
  gap: 47px;
  padding: 4px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
nav > span {
  margin: auto 0px;
  display: none;
}
.home-btn {
  background-color: #e6533c;
  border-radius: 39px;
  padding: 8px 20px;
}
/* navbar design ends */

/* header banner section starts*/

.banner-container {
  max-width: 1060px;
  max-height: 600px;
  margin: auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.banner-left {
  width: 600px;

  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.banner-left > h1 {
  color: white;
  font-size: 78px;
  font-weight: 900;
}
.banner-left > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 28px;
  margin-bottom: 28px;
}
.btn-container button {
  width: 200px;
  height: 54px;
  border: none;
  color: white;
  border-radius: 42px;
  margin-right: 14px;
}
.banner-right {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner-right > img {
  width: 100%;
}
.tool-tips {
  position: absolute;
  top: 19%;
  left: 65%;
  width: 193px;
  height: 98px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
}
.tool-tips h2 {
  font-size: 40px;
}
.tool-tips p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.65);
}
.tool-tips-2 {
  position: absolute;
  top: 70%;
  left: -20%;
  width: 193px;
  height: 98px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.tool-tips-2 h2 {
  font-size: 40px;
  font-weight: 900;
}
.tool-tips-2 p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.65);
}

.ball {
  width: 30px;
  height: 30px;
  background-color: #e6533c;
  border-radius: 50%;
}

/* header banner section ends */

/* responsive codes starts */

@media screen and (max-width: 576px) {
  /*  responsive header starts */
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu-container {
    display: none;
  }
  nav > span {
    display: inline;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-left > h1 {
    font-size: 36px;
  }
  .banner-left > h1,
  .banner-left > p {
    width: 285px;
  }
  .btn-container {
    display: flex;
    justify-content: space-around;
  }
  .tool-tips {
    width: 150px;
    left: 53%;
    top: 8%;
  }
  .tool-tips h2 {
    font-size: 30px;
  }
  .tool-tips p {
    font-size: 9px;
  }
  .tool-tips-2 {
    top: 41%;
    left: 10%;
  }
  /*  responsive header ends */
}
